.logout{
    float:right;
    margin:10px 0px;
}

.main-sidebar .sidebar-menu li.active a span, .main-sidebar .sidebar-menu li a.active {
	color: #3271e5 !important;
}

.custom-nav li.active a {
	color: #000 !important;
}

.upload_docs #hidden_upload_file {
	position: absolute;
	opacity: 0;
	width: 100%;
	height: 100%;
	cursor: pointer;
	z-index: 6;
}
.upload-btn-wrapper {
	position: relative;
	overflow: hidden;
	display: inline-block;
	float: right;
	padding-bottom: 5px;
  }
  
  .upload_btn {
	border: 2px solid gray !important;
	color: gray;
	background-color: white;
	padding: 8px 20px;
	border-radius: 8px;
	font-size: 20px;
	font-weight: bold;
  }
  
  .upload-btn-wrapper input[type=file] {
	font-size: 100px;
	position: absolute;
	left: 0;
	top: 0;
	opacity: 0;
	}
	
	#folder_structure ul,#folder_structure #myUL {
		list-style-type: none;
	}
	
	#folder_structure #myUL {
		margin: 0;
		padding: 0;
	}
	
	#folder_structure .caret {
		cursor: pointer;
		-webkit-user-select: none; /* Safari 3.1+ */
		-moz-user-select: none; /* Firefox 2+ */
		-ms-user-select: none; /* IE 10+ */
		user-select: none;
	}
	
	#folder_structure .caret::before {
		content: "\25B6";
		color: black;
		display: inline-block;
		margin-right: 6px;
	}
	
	#folder_structure .caret-down::before {
		-ms-transform: rotate(90deg); /* IE 9 */
		-webkit-transform: rotate(90deg); /* Safari */
		transform: rotate(90deg);  
	}
	
	#folder_structure .nested {
		display: none;
	}
	
	#folder_structure .active {
		display: block;
	}

	#folder_structure li.activeClass {
		background-color: slategray;
		padding: 5px;
	}